/* DROPDOWN-MENU */
ul.nav-dec {
	background: url("./images/logo.png") no-repeat left top;
	background-size: 45px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #252850;
  }
  
  li {
	float: left;
  }
  
  li.nav-dec a, .dropbtn {
	display: inline-block;
	color: white;
	background-color:#252850;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li.nav-dec a:hover, .dropdown:hover .dropbtn {
	background-color: #252850;
	text-decoration: underline;
  }
  
  li.dropdown {
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color:white;
	box-shadow: 0px 8px 16px 0px #252850;
	min-width: 160px;
	z-index: 1;
  }
  
  .dropdown-content a {
	color: #252850;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	  background-color: #252850;
	  color: white;
	  text-decoration: underline;
	}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }

  div.entrada {
	  background-color: #252850;
	  text-align: center;
	  margin: 20px;
	  height: 420px;
  }

  h1.titulo1 {
	  color:whitesmoke;
  }

  h3.subtitulo1 {
	  color:whitesmoke;
  }

  a.estrenos{
	  text-decoration: none;
	  color:whitesmoke;
  }

  a.estrenos:hover{
	text-decoration: underline;
	color:whitesmoke;
}

img.logo {
	height: 57px;
	width:360px;
	padding: 0%;
	margin-bottom: 0px;
	margin-top: 5px;
}

img.estrenos {
	height:250px;
	width:250px;
	padding:0px;
	margin: 20px;
	margin-top: 0px;
}

img.estrenos:hover {
	border: 1px solid;
	border-color: whitesmoke;
	height:248px;
	width:248px;
}
