body{
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: 'Playfair Display';
} 

/* DROPDOWN-MENU */
div.fixed{
	height: auto;
	margin-bottom: auto;
	margin-top: -10px;
	width: 100%;
	position: fixed;
	background-color: #0d0b0c;
	z-index:4;
}

ul.nav-dec {
	background-size: 45px;
	list-style-type: none;
	margin:0px;
	padding: 0px;
	overflow: hidden;
	background-color:#0d0b0c;
  }
  
  li {
	float: left;
  }
  
  li.nav-dec a, .dropbtn {
	display: inline-block;
	color:aliceblue;
	background-color:#0d0b0c;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li.nav-dec a:hover, .dropdown:hover .dropbtn {
	background-color: #3d3438;
	text-decoration: underline;
  }
  
  li.dropdown {
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	color:aliceblue;
	background-color:#0d0b0c;
	/*box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.329);*/
	min-width: 160px;
	z-index: 1;
  }
  
  .dropdown-content a {
	color:aliceblue;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	  background-color: #3d3438;
	  color:aliceblue;
	  text-decoration: underline;
	}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
/*acaba dropdown*/

div.central {
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	background-color: rgba(5.1, 4.3, 4.7, 0.85);
}


  div.entrada {
	  text-align: center;
	  margin-top: 0px;
	  margin-bottom: 80px;
  }


  a.estrenos{
	  text-decoration: none;
	  color:aliceblue;
  }

  a.estrenos:hover{
	text-decoration: underline;
	color:aliceblue;
}


img.estrenos {
	height:250px;
	width:250px;
	padding:0px;
	margin-right: 20px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
	/*border: 1px solid;
	border-color: white;*/
}

img.estrenos:hover {
	opacity: 70%;
}

h2.subtitulo{
	text-align:center;
	color: aliceblue;
	padding: 0%;
}

img.logo {
  height: 80px;
  width:537px;
  padding: 0%;
  margin-top: 50px;
}

div.content {
    margin-top: 20px;
	margin-left:60px;
	margin-right:60px;
	margin-bottom:250px;
	font-size:22px;
    color: aliceblue;
	border-top: 1px solid;
}

img.cabecera {
    margin-top: 50px;
	margin-bottom:50px;
	width:900px;
	height:272px;
	border: 1px solid;
	border-color:#0d0b0c;
}

div.img-cent{
	text-align:center;
}

div{
	border: 1px solid;
	border-color: rgba(5.1, 4.3, 4.7, 0);
	/*border-color:aliceblue;*/
}

div.subtitulo{
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


h3.subtitulo a{
	text-decoration: none;
	color: aliceblue;
	font-size: 30px;
	padding: 0px;
}

h3.subtitulo img{
	visibility: hidden;
	width: 25px;
	height: 25px;
}

h3.subtitulo:hover img{
	visibility: visible;
}

iframe{
	margin-top: 50px;
}
